setuptools
ez_setup
waitress
flask
flask_restx
cachetools
asterisk-ami
requests
cachetools
mysql-connector
jsonify
pythonping
mysql.connector
jsonify
Flask-SQLAlchemy
marshmallow-sqlalchemy
flask_marshmallow
marshmallow
mysqlclient
PyJWT
flask_swagger_ui
